.ts-header-menu {
    border: 1px solid black;
    height: 100%;
    /* width: 33.33%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    /* important for slider positioning */
}




.ts-header-menu>.ts-menu {
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5px;
    background: var(--secondary-subhd-color);
    transition: left 0.3s ease, width 0.3s ease;
}