.ts-header-menu {
  border: 1px solid black;
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative; /* important for slider positioning */
}




.ts-header-menu>div {
    border: 1px solid red;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.slider {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: red;
    transition: left 0.3s ease, width 0.3s ease;
}