@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Libertinus+Keyboard&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Saira:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Story+Script&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


/* 

font-family: "Asimovian", sans-serif;
font-family: "SUSE Mono", sans-serif;
font-family: "Zalando Sans Expanded", sans-serif;
font-family: "Big Shoulders Inline", sans-serif;
font-family: "Montserrat Alternates", sans-serif;
font-family: "Story Script", sans-serif;    
font-family: "Libertinus Keyboard", system-ui;
font-family: "Saira", sans-serif;

*/



.ts-header {
    width: var(--containers-max-width);
    height: var(--ts-header-height);
    display: flex;
    padding: 10px 0 10px 0;
}
















