.ts-header-logo {
    border: 1px solid black;
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.ts-header-logo-wrapper {
    width: calc(100% - 45%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}



#ts-header-logo-text {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    animation-name: ts-header-logo-text;
    animation: ts-header-logo-text 2s ease-in-out;
}


#ts-header-logo-text>h1:nth-of-type(1) {
    font-size: clamp(10px, 1.6vw, 30px);
    color: var(--primary-hd-color);
    font-family: "SUSE Mono", sans-serif;
    font-weight: 200;
}

#ts-header-logo-text>h1:nth-of-type(2) {
    font-size: clamp(10px, 1.6vw, 30px);
    font-family: "SUSE Mono", sans-serif;
    color: var(--primary-hd-color);
    font-weight: 500;
}

#ts-header-logo-icon {
    font-size: clamp(30px, 2vw, 40px);
    animation: ts-header-logo-icon 2s ease-in-out;
    display: inline-block;
    transform-origin: 50% 50%;
    width: 40px;
}

.ts-header-logo-wrapper {
    overflow: hidden;
    height: 100%;
    /* border: 2px solid var(--secondary-subhd-color); */
}

#ts-header-logo-text-wrapper {
    overflow: hidden;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*  -----------------------------------------------------------------------------------  */
/*  ----------------------- @KEYFRAMES ANIMATIONS FOR LOGO AND TEXT -------------------  */
/*  -----------------------------------------------------------------------------------  */



@keyframes ts-header-logo-icon {
    0% {
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;

    }

}


@keyframes ts-header-logo-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        transform: translateX(-200px);

    }
}


/*  -----------------------------------------------------------------------------------  */
/*  ------------------- @MEDIA FOR RESPONSIVENESS AND ADAPTIVE STYLES  ----------------  */
/*  -----------------------------------------------------------------------------------  */

@media screen and (max-width: 1075px) {
    .ts-header-logo-wrapper {
        width: calc(100% - 30%);
    }

    #ts-header-logo-text-wrapper {
        width: 140px;
    }

}