.ts-header-menu{
    border: 1px solid black;
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ts-header-menu {
    flex-direction: row;
    gap: 20px;
    position: relative;
}


.ts-header-menu>div {
    border: 1px solid red;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ts-header-menu > .slider {
    position: absolute;
    left: 0;
    top: 0;
}