:root {
    /* 

    link for color palette in case I forget or need to share:

    https://www.canva.com/colors/color-palettes/pensive-mood/

    */
    --base-bg-color:#ffffff;
    --primary-hd-color: #000401; /* Jet Black */
    --secondary-subhd-color: #4E545C; /* Gun metal grey */
    --tertiary-text-color: #8D9797; /* Pewter */


    /* ---------------------------------------------------------------------------- */


    /*
    Fixed widths and heights for most main components will be defined here as well.
    */
    --containers-max-width: 90%; /* one width to rule them all :D */
    --page-max-height: 100%; /* one height to rule them all :D */


    /* ---------------------------------------------------------------------------- */


    /** Header component **/
    --ts-header-height: 15vh;

}