.ts-login-overlay-container {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    color: white;
    transform: translateX(0);
    background-color: green;
    transition: all 0.6s ease-in-out;
    z-index: 2;
    overflow: hidden;

}

.ts-shadow-overlay {
    position: relative;
    background-color: black;
    z-index: -1;
    height: 100%;
    width: 200%;
    left: -100%;
    transition: all 0.6s ease-in-out;
}

.ts-overlay-panels {
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 0 50px;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


.ts-login-overlay-container.ts-login-overlay-container-shift {
    transform: translateX(-100%);
}

.ts-shadow-overlay.ts-shadow-overlay-shift {
    transform: translateX(50%);
}