.ts-login-main-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(250, 250, 250, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts-login-bordered-container {
    width: 85%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.73);
}


.ts-login-main-container {
    width: 95%;
    height: 90%;
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background-color: turquoise;
}


.ts-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(228, 226, 226);

}


.ts-form-container > form {
    display: grid;
    justify-content: stretch;
    align-items: center;
    height: 100%;
    width: 80%;
}

.ts-form-container > form > div {
    position: relative;
}


.ts-form-container > form > div > label {
    position: absolute;
    top: 0;
    left: 0;
}
