.ts-form-container.sign-in {
    left: 0;
    z-index: 1;
}


.ts-form-container.sign-in form {
    grid-template-rows: repeat(3, 0.1fr);
    align-content: center;
    gap: 20px;
}

.ts-form-container.sign-in>form>div {
    width: 70%; /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ts-form-container.sign-in>form>div>input {
    width: 100%;
    height: 40px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.18);
    outline: none;
}