.ts-form-container.sign-up {
    left: 0;
    z-index: 0;
}

.ts-form-container.sign-up form {
    grid-template-rows: repeat(6, 0.1fr);
    align-content: center;
    gap: 20px;
}

.ts-form-container.sign-up>form>div {
    width: 70%; /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*  */

.ts-form-container.sign-up>form>div>input {
    width: 100%;
    height: 40px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.18);
    outline: none;
}

.ts-form-container-shift {
    transform: translateX(100%); /* moves to the right side */
    transition: all 0.6s ease-in-out;
}


.ts-form-container.sign-up.ts-form-container-shift  {
    transition: all 0.6s ease-in-out;
    z-index: 1;
}