:root {
    /* 

    link for color palette in case I forget or need to share:

    https://www.canva.com/colors/color-palettes/pensive-mood/

    */
    --base-bg-color:#ffffff;
    --primary-hd-color: #000000; /* Jet Black */
    --secondary-subhd-color: #4E545C; /* Gun metal grey */
    --tertiary-text-color: #8D9797; /* Pewter */
    --test--:linear-gradient(180deg, rgba(0, 0, 0, 1) 74%, rgba(80, 80, 80, 1) 100%, rgba(103, 103, 103, 1) 100%);

    /* ---------------------------------------------------------------------------- */


    /*
    Fixed widths and heights for most main components will be defined here as well.
    */
    --containers-max-width: 95%; /* one width to rule them all :D */
    --page-max-height: 100vh; /* one height to rule them all :D */


    /* ---------------------------------------------------------------------------- */


    /** Header component **/
    --ts-header-height: 15vh; /* TrendSphere header height */

}