.ts-header-login {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ts-header-login-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 10px;
}


.ts-header-login-wrapper>#NavLink-login {
    height: 30%;
    width: 100%;

}

.ts-header-login-wrapper>#NavLink-signup {
    height: 30%;
    width: 100%;

}

#NavLink-login>button {
    background: var(--test--);
    color: var(--base-bg-color);
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#NavLink-signup>button {
    background-color: var(--base-bg-color);
    color: var(--primary-hd-color);
    border: none;
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: 100%;
    height: 100%;
}


/*  -----------------------------------------------------------------------------------  */
/*  ------------------- @MEDIA FOR RESPONSIVENESS AND ADAPTIVE STYLES  ----------------  */
/*  -----------------------------------------------------------------------------------  */

@media screen and (max-width:975px) {
    .ts-header-login-wrapper {
        width: 100%;
        justify-content: center;
        gap: 0px;
    }

    .ts-header-login-wrapper>button:nth-of-type(1) {
        width: 50%;
    }

    .ts-header-login-wrapper>button:nth-of-type(2) {
        width: 50%;
    }

}